@use "sass:map";
@import '../../../common/styles/common.scss';

.candidate-mapping-wrapper {
    .modal-body {
        font-size: 10px;
        font-family: 'Poppins', sans-serif;
        .input-wrapper {
            input {
                height: 25px;
                font-size: 11px;
            }
            textarea {
                height: 70px;
                font-size: 11px;
            }
            select {
                height: 25px;
                font-size: 11px;
            }
            input:focus, textarea:focus {
                outline: none;
                box-shadow: none;
                border-color: map.get($theme-colors, "main");
            }
        }
        .fa-calendar {
            position: absolute;
            right: 35px;
            font-size: 13px;
            margin-top: -34px;
            cursor: pointer;
        }
        .row .col-md-3 {
            padding-right: 0;
        }
        .invalid-text {
            margin-top: -10px;
            margin-bottom: 5px;
        }
    }
}