<div class="positions-main">
    <div class="container-fluid">
        <div class="row" style="height: 100%;">
            <div class="col-md-5" style="border-right: 1px solid #e0e0e0; height: 100%;">
                <app-position-listing></app-position-listing>
            </div>
            <div class="col-md-7">
                <app-position-details [selectedRow]="selectedRow"></app-position-details>
            </div>
        </div>
    </div>
</div>