.pill {
    border-radius: 5px;
    padding: 4px;
    font-size: 9px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 5px;
}
.pill-default {
    background: #86797936;
}
.bg-success, .bg-primary, .bg-info, .bg-danger {
    color: #FFF;
}
i {
    padding-left: 2px;
    cursor: pointer;
}
.wrapper-table {
    word-break: break-word;
    display: inline-block;
    width: 63px;
}
.wrapper-inline-block {
    margin-bottom: 7px;
    display: inline-block;
}