@use "sass:map";
@import '../../../common/styles/common.scss';

.mapped-candidates-wrapper {
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
        .map-candidate-btn {
            position: absolute;
            right: 12px;
            margin-top: -40px;
        }
    }
    #mapped-candidates-grid {
        height: 360px;
        width: 100%;
    }
}