.title-bar {
    background-color: #f8f8f8;
    position: relative;
    padding: 10px;
    margin-bottom: 15px;
    height: auto;
    margin-top: 5px;
    
    img {
        height: 60px;
        width: 60px;
        margin-left: 5px;
        border: 3px solid #fff;
    }
    .title {
        font-size: 16px;
        margin-bottom: 0px;
        span {
            font-size: 10px;
            color: grey;
        }
    }
    .location {
        color: grey;
        font-size: 11px;
    }
    .id-details {
        font-size: 12px;
    }
    .priority {
        padding: 4px;
        color: #fff !important;
        border-radius: 4px;
        margin-left: 5px;
    }
    .priority.critical {
        background-color: #880808;
    }
    .priority.high {
        background-color: #EE4B2B;
    }
    .priority.medium {
        background-color: orange;
    }
    .priority.low {
        background-color: green;
    }
}