@use "sass:map";
@import '../../../common/styles/common.scss';

.create-candidate-wrapper {
    .modal-body {
        font-size: 10px;
        .candidate-form {
            font-family: 'Poppins', sans-serif;
            .form-header {
                padding-top: 6px;
            }
            .form-value {
                padding-top: 6px;
            }
            .input-email {
                height: 25px;
                outline: none;
                box-shadow: none;
                font-size: 10px;
            }
            select {
                height: 25px;
                font-size: 10px;
            }
            select:focus{
                outline: none;
                box-shadow: none;
                border-color: map.get($theme-colors, "main");
            }
            input:focus{
                outline: none;
                box-shadow: none;
                border-color: map.get($theme-colors, "main");
            }
            .user-wrapper {
                height: 100px;
                width: calc(75% - 48px);
                border: 1px solid;
                border-color: map.get($theme-colors, "selectedColor");
                position: absolute;
                background: #fff;
                overflow: auto;
                p {
                    margin-bottom: 3px;
                    padding-top: 2px;
                    padding-left: 5px;
                }
                p:hover{
                    background: map.get($theme-colors, "selectedColor");
                    color: #fff;
                }
            }
            .input-wrapper-pills {
                margin-bottom: -5px !important;
            }
            .input-grp-cal {
                width: 100%;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-right: 0;
            }
            .cal-icon {
                border-left: 0;
                background-color: #fff;
                border: 1px solid lightgray;
            }
            .invalid-text {
                margin-top: -10px;
                margin-bottom: 5px;
            }
            .input-group {
                .input-group-text {
                    width:10%;
                    height:25px;
                    .fa-calendar {
                        font-size: 10px;
                        margin-left: -3px;
                    }
                }
            }
        }
    }
}
