<app-header></app-header>
<!-- <app-spinner></app-spinner> -->
<router-outlet></router-outlet>
<ngx-spinner 
    bdColor = "rgba(0, 0, 0, 0.8)"
    size = "default"
    color = "#f29697"
    type = "timer"
    [fullScreen] = "true">
    <p style="color: white; font-size: 12px;"> Loading... </p>
</ngx-spinner>