@use "sass:map";
@import '../../common/styles/common.scss';

.grid-container {
    .raft-grid {
        height: 100%;
        width: 100%;
    }
    .ag-row:hover {
        cursor: pointer;
        background-color: map.get($theme-colors, "selectedColorWithAlpha") !important;
    }
    .ag-row-selected {
        background-color: map.get($theme-colors, "selectedColor") !important;
    }
}