@use "sass:map";
@import '../../../common/styles/common.scss';

.candidate-audittrail-wrapper {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    .modal-body {
        .pills {
            background: #86797936;
            border-radius: 5px;
            padding: 4px;
            font-size: 9px;
            padding-left: 8px;
            padding-right: 8px;
            margin-right: 5px;
            display: inline;
            width: auto;
        }
        table {
            tbody {
                tr {
                    cursor: pointer;
                }
                tr:hover {
                    background-color: #ededed;
                }
                .selected {
                    background-color: map.get($theme-colors, "selectedColorWithAlpha");
                }
                .edit-mapper {
                    button {
                        font-size: 8px;
                        height: 18px;
                        padding-top: 2px;
                    }
                }
            }
            th {
                padding: 5px 8px;
                font-family: 'Poppins', sans-serif;
                font-size: 10px;
                color: #fff;
                border: 1px solid #ededed;
                background-color: map.get($theme-colors, "main");
            }
            td {
                border: 1px solid #ededed;
                font-family: 'Poppins', sans-serif;
                font-size: 10px;
                padding: 5px 8px;
            }
        }
    }
}