<div class="login-main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8" style="padding: 0px;">
                <div class="login-image">
                    <img src="/assets/images/login1.jpg">
                </div>
            </div>
            <div class="col-md-4">
                <div class="login-form">
                    <div class="container">
                        <div class="row">
                            <div class="page-title">
                                <span>Login</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-wrapper">
                                    <button class="btn btn-primary" (click)='sso()'
                                        style="width: 100%; font-size: 12px;">
                                        <i class="fa fa-google" aria-hidden="true"
                                            style="font-size: 18px; padding-right: 5px;"></i>
                                        Sign In With Accolite SSO
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>