@use "sass:map";
@import '../../../common/styles/common.scss';

.create-position-wrapper {
    .candidate-form {
        font-family: 'Poppins', sans-serif;
        
        .form-header, .form-value {
            padding-top: 6px;
        }
        .input-wrapper {
            input {
                font-size: 10px;
            }
        }
    }
    .modal-body {
        font-size: 10px;
        .input-email {
            height: 25px;
        }
        select {
            height: 25px;
            font-size: 10px;
            &:focus{
                outline: none;
                box-shadow: none;
                border-color: map.get($theme-colors, "main");
            }
        }
        input:focus{
            outline: none;
            box-shadow: none;
            border-color: map.get($theme-colors, "main");
        }
        .user-wrapper {
            height: 100px;
            width: calc(75% - 48px);
            border: 1px solid map.get($theme-colors, "selectedColor");
            position: absolute;
            background: #fff;
            overflow: auto;
            p {
                margin-bottom: 3px;
                padding-top: 2px;
                padding-left: 5px;
            }
            p:hover{
                background: map.get($theme-colors, "selectedColor");
                color: #fff;
            }
        }
        .invalid-text {
            margin-top: -10px;
            margin-bottom: 5px;
        }
        .pills {
            display: inline-block;
            background: #86797936;
            border-radius: 5px;
            padding: 4px;
            font-size: 9px;
            padding-left: 8px;
            padding-right: 8px;
            margin-right: 5px;
            button {
                margin-left: 5px;
                font-size: 6px;
            }
            button:hover {
                color: map.get($theme-colors, "selectedColor");
            }
        }
        textarea {
            font-size: 10px;
            height: 150px;
            margin-bottom: 15px;
            &:focus {
                border-color: map.get($theme-colors, "main");
                box-shadow: none;
            }
        }
        .fa-question-circle {
            font-size: 14px;
            color: orange;
            margin-left: 3px;
        }
        ng-multiselect-dropdown {
            width: 100% !important;
            .filter-textbox {
                display: none !important;
            }
            .dropdown-list {
                display: none;
            }
        }
        .multiselect-dropdown {
            display: none;
        }
    }
}

