<div class="audit-trail-wrapper">
    <div class="container-fluid">
        <app-grid [colDef]="gridColDef" [rowData]="gridRowData" [config]="gridConfig" *ngIf="gridColDef"></app-grid>
    </div>
</div>